node_modules
dist
build
.env
.env.*
!.env.example
*.log
.logs
*.db
*.db-journal
coverage
.DS_Store
Thumbs.db
apps/server/src/generated
media/films/*
media/series/*
media/.uploads/*
!media/films/.gitkeep
!media/series/.gitkeep
